/.bundle/
/.yardoc/
/_yardoc/
/build/
/coverage/
/node_modules/
/doc/
/pkg/
/public/
/rubies/
/runtime/vendor/
/runtime/build/
/runtime/rubies/
/spec/reports/
/playwright-report/
/test-results/
/tmp/
/.rspec_status
